a {
	text-decoration: none;
	color: #88ae60;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: 'Sans Pro', 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	text-align: center;
	width: 100%;
	height: 100%;
}

/* LANDING PAGE */

.main-container {
	background-color: #fff;
	position: relative;
  	top: 50%;
  	margin: 0 auto;
  	width: 42%;
  	padding: 24px 48px;
  	opacity: .95;
  	-webkit-transform: translateY(50%);
  	-ms-transform: translateY(50%);
  	transform: translateY(50%);
}

#main-header {
	width: 100%;
	vertical-align: middle;
	font-size: 72px;
	color: #88ae60;
	font-family: 'Pacifico';
	line-height: 80px;
}

#main-text {
	font-weight: 600;
}

.icons {
	display: inline-block;
}

.button {
	display: inline-block;
	font-size: 54px;
	color: #88ae60;
	line-height: 80px;
	padding-right: 12px;
}

#b1 {
	font-family: 'Social';
}

#b2 {
	font-family: 'Social Plus'
}

/** Cool Background Changing Thing **/

.bg-change {
	position: fixed;
	top: 25%;
	right: 0;
	box-shadow: 3px 3px 20px #888888;
	z-index: 100;
}

.bg {
	width: 50px;
	height: 50px;
}

.bg:hover {
	width: 75px;
	cursor: pointer;
	box-shadow: 3px 3px 20px #888888;
}

/*.pointer { triangle pointer
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-left: 140px solid #000;
    border-bottom: 70px solid transparent;
}*/

/*.reset {
	background-image: url("img/refresh.png")
}*/

#green {
	background-color: #88ae60;
}

#pattern img {
	height: 100%;
}

#pattern img:hover {
	width: 75px;
	height: 50px;
}

#triangles {
	background-color: #fff;
}

/* FONTS */

@font-face {
	font-family: 'Pacifico';
	src: url('../fonts/Pacifico-Bold.ttf') format('truetype'); 
}

@font-face {
	font-family: 'Sans Pro';
	src: url('../fonts/SourceSansPro-Light.otf') format('opentype');
}

@font-face {
	font-family: 'Social';
	src: url('../fonts/Socialico.otf') format('opentype');
}

@font-face {
	font-family: 'Social Plus';	
	src: url('../fonts/Socialico Plus.otf') format('opentype');
}